<link rel = 'stylesheet' href = '/css/header.css'>
<header>
    <div id='header'>
        <div>
             <h1>CONNECTU</h1> 
        </div>
        <div id='links'>
        <% if(locals.user){ %>
            <a href='/user/profile'><%= user.name %></a>
            <a href="/user/sign-out" >Sign Out</a>
            <% } else { %>
                <a href="/user/sign-in" >Sign In</a>
                <a href="/user/sign-up" >Sign Up</a>
            <% } %>
        </div>
    </div>
</header>