<link rel="stylesheet" href="/css/home.css">
        <h1>Home</h1>

        <section>
                <h4>POSTS!</h4>
                <form action="" method="POST">
                        <textarea name="content" cols='30' rows='3' placeholder='Enter your thoughts'></textarea>
                        <input type='submit' value='Posts!'>
                </form>
        </section>
        