<h1>Sign in</h1>
<form action="/user/create-session" method="POST">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" placeholder="Enter your email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password" required>
    <button type="submit">Login</button>
</form>