<h1>Sign Up</h1>

<form action="/user/create" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder = "Enter you name" required>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" placeholder = "Enter you email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder = "Enter you password" required>
    <label for="password">Confirm Password: </label>
    <input type="password" name="cnfpassword" id="password" placeholder = "Confirm password" required>
    <button type="submit">Sign Up</button>
</form>