#header {
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  height: 3em; }
  #header h1 {
    margin-top: 0;
    color: aliceblue; }
  #header #links {
    margin-top: 1em;
    margin-right: 1em; }
    #header #links a {
      text-decoration: none;
      color: white;
      margin-right: 1em; }
